<%= form_with(model: toy, class: "contents") do |form| %>
  <%= render "common/form_errors", model: toy %>

  <div class="my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div>
      <%= form.label :status %>
      <%= form.select :status, options_for_select(Toy.statuses, toy.status_before_type_cast), { include_blank: true }, class: "appearance-none block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div>
      <%= form.label :slug %>
      <%= form.text_field :slug, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div>
      <%= form.label :url %>
      <%= form.text_field :url, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :short_description %>
    <%= form.text_area :short_description, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_textarea :description %>
  </div>

  <div class="flex justify-between items-center">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% if action_name == "edit" %>
      <%= submit_tag "Delete", form: "delete-toy", data: { turbo_confirm: "Are you sure?" }, class: "rounded-lg text-red-500 py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @toy, method: :delete, id: "delete-toy") do |form| %>
<% end %>
