<div class="mb-10 flex justify-between items-center">
  <%= link_to "Breakable Toys", root_path, class: "text-xl" %>
  <ul class="flex space-x-3">
    <% if authenticated? %>
      <li>
        <%= link_to Current.user.email_address, account_path %>
      </li>
      <% if Current.user.admin? %>
        <li>
          <%= link_to "Applications", applications_path %>
        </li>
        <li>
          <%= link_to "Admin", admin_path %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= link_to "Toys", toys_path %>
    </li>
    <% if !authenticated? %>
      <li>
        <%= link_to "Sign in", new_session_path %>
      </li>
      <li>
        <%= link_to "Sign up", sign_up_path %>
      </li>
    <% end %>
  </ul>
</div>
