<div class="mx-auto w-full max-w-96 bg-white border border-gray-400 rounded-md p-5">
  <h1 class="font-bold text-xl">Create an account</h1>

  <%= form_with(model: @user, url: sign_up_path, class: "contents") do |form| %>
    <%= render "common/form_errors", model: @user %>

    <div class="my-5">
      <%= form.text_field :username, required: true, autofocus: true, placeholder: "Your name", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, placeholder: "Your email", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, placeholder: "Choose a password", maxlength: 72, class: "block shadow rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, placeholder: "Repeat the password", maxlength: 72, class: "block shadow rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Sign up", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>

<%= link_to "Already have an account?", new_session_path, class: "mt-5 mx-auto underline" %>
